extends layout

block content
  .intro-overlay
    .pure-g.intro-row
      .pure-u-1.intro-column#intro-info-container
        p.intro-welcome-to Welcome to
        img.pure-img.intro-logo(src="/images/intro-logo.png")
        p.intro-instructions Witness people conversing in real time.
        p.intro-instructions Feel free to comment on the suggested topic or 
          em anything 
          | else.
        p.intro-instructions Your message will flash momentarily to everyone and disappear forever.
        input.usertag-box(type="text", autocomplete="off", autocorrect="off", autofocus=true, placeholder="Pick a tag (optional)")
        br
        br
        small (Temporary: If you pick a duplicate, you wont be able to connect. Fix coming.)
        p.usertag-preview []
      .pure-u-1.intro-column#deactivate-overlay-container
        a
          i.fa.fa-arrow-down.fa-4x.deactivate-overlay

  .chat-topic-container
    img.pure-img.header-logo(src="/images/header-logo.png")
    span.subreddit-link 
      a(href="http://www.reddit.com/r/QuibblerApp") /r/QuibblerApp
    span.topic-label Discuss: 
      span.chat-topic 
        em
          if (topic.url)
            a(href=topic.url, target="_blank") #{topic.title}
          else
            | #{topic.title}
    i(id="soundVolume", class="fa fa-volume-up", style="margin-left: 10px; text-align: center; width: 50px; font-size: 1.3rem;")
  .visualizer
    span.message.enjoy Enjoy

  form.pure-form.main-chat-form(action="")
    input.message-prompt(type="text", placeholder="Comment (100 characters or less)", autocomplete="off")
    button.pure-button.pure-button-primary.send-btn(type="submit")
      i.fa.fa-send.fa-lg

  .about-container.intro-active
    .github-box
      span.github-message View source code on 
        a(href="http://github.com/Antrikshy/Quibbler", target="_blank") GitHub
        | .
    .user-count-container
      span.user-count #{users}
      |  people in the conversation
    .about
      | A 
      a(href="http://socket.io", target="_blank") Socket.IO
      |  experiment by 
      a(href="http://twitter.com/Antrikshy", target="_blank") @Antrikshy
